@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Universal styles */
/* *{
    margin: 0;
    padding: 0;
} */


/* Shared styles */

.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: #fff;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
/* Main section styles */
main{
    max-width: 87.5%;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* header styles */
header{
    padding-bottom: 50px;
}
.navbar, .banner{
    max-width: 87.5%;
    margin: 0 auto;
}

/* Navbar Styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    text-align: center;
}
.nav-link{
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: 500;
}
.brand{
    font-size: 3rem;
    font-weight: bold;
}

/* Banner Styles */
.banner-content{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}

/* Teams section */
.teams{
    margin-top: 100px;
    align-items: center;
    gap: 40px;
}
.team-image-container{
    width: 55%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-image-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.our-features{
    width: 45%;
}

.quick-list{
    font-weight: 500;
}
/* responsive media query */

@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .team-image-container{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        width: 100%;
    }
    .brand{
        font-size: 2.5rem;
    }
    .banner-title{
        font-size: 2.8rem;
    }
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .team-image-container{
        width: 100%;
    }
    .our-features{
        width: 100%;
    }
}